#chiave mongodb
MONGODB_URI=...

#avvio su deploy
CLIENT_URL=<link a web-app>
FRONTEND_URL=<link a web-app>
VITE_API_URL=

#avvio in locale
# CLIENT_URL=http://localhost:5173,http://localhost
# FRONTEND_URL=http://localhost:5173

# auth
# usato per la firma dei token JWT di accesso, deve essere una stringa lunga e complessa
JWT_ACCESS_SECRET=...
# usato per la firma dei token JWT di refresh, deve essere una stringa lunga e complessa
JWT_REFRESH_SECRET=...

SALT_ROUNDS=<numero da 10 a 20>

# chiavi per l'autenticazione con Google OAuth2
GOOGLE_CLIENT_ID=...
GOOGLE_CLIENT_SECRET=...

# chiavi per l'autenticazione con GitHub OAuth2
GITHUB_CLIENT_ID=...
GITHUB_CLIENT_SECRET=...

# avvio su deploy
GOOGLE_REDIRECT_URI=http://<link a web-app>/api/auth/google/callback
GITHUB_REDIRECT_URI=http://<link a web-app>/api/auth/github/callback

# avvio in locale
# GITHUB_REDIRECT_URI=http://localhost:3000/api/auth/github/callback
# GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/google/callback


#CHIAVE CLAUDEFARE TOKEN
TURNSTILE_SECRET_KEY=...

#chiavi per l'invio di email tramite Gmail SMTP
GMAIL_USER=example@example.com
GMAIL_PASS=...

#chiave OpenStreetMap
ORS_API_KEY=...

# usato per recuperare eventi pubblici del comune di Trento
COMUNE_TRENTO_API_URL=https://eventi.comune.trento.it/api/opendata/v2/content/search?classes=event&limit=2000
